body {
    background: #fff;
    color: #eee;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#key{
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    color: #808080;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}


  //KEY
            var key = Raphael("key");
            var colorCode = key.set()
            colorCode.attr({stroke: "#bfbfbf"})
            for (var i = 0, ii = newDataSet.length; i < ii; i++){
                var percent = newDataSet.indexOf(newDataSet[i])+1 / newDataSet.length
                colorCode.push(key.rect( 20, 80 * percent, 15, 15, 1).attr({fill: "#" + newDataSet[i].color}))
                colorCode.push(key.text( 50, 80 * percent, newDataSet[i].mood).attr({ fill: "#808080", stroke: "none", "font-size": 15 }))
            }