body {
    background: #fff;
    color: #eee;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#key{
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

#memberSince{
    bottom: 0;
    font: 300 .9em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    color: #808080;
    position: absolute;
    right: 1em;
    text-align: right;
}

#entries{
    bottom: 2em;
    font: 300 .9em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    color: #808080;
    position: absolute;
    right: 1em;
    text-align: right; 
}